.contenedor-agregar {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .foto {
    margin: auto;
    width: 258px;
    height: 340px;
    font-size: 10rem;
    border-radius: 1rem;
    border: 0.1rem solid green;
    color: green;
    background-color: transparent;
    background-size: cover;

    i {
      p {
        font-size: 1.5rem;
        color: black;
      }
    }
  }

  .inputs {
    width: 258px;
    height: 420px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    border: 0.1rem solid green;
    border-radius: 1rem;

    button,
    input,
    select,
    textarea,
    label {
      margin: 0 0.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .contenedor-agregar {
    flex-direction: row;
    justify-content: center;
    padding: 0 5rem;

    div {
      width: 600px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .foto {
      margin: 0;
      padding: 0 3rem;
    }

    .inputs {
      justify-content: flex-start;
      height: 664px;
      margin: 0;
    }
  }
}
